style

<h1> Markup examples </h1>
<div class="container" style="width:70%">
  <p> This example shows you how a basic Slim file looks like.</p>



<div class="row">
  <div class="col-xs-4">

  <div class="panel panel-default">
    <div class="panel-body">

      <iframe width="200" height="150" src="https://www.youtube.com/embed/nsSCl8UXlrY" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="panel-footer">
      <h4> Work Work Work - Rihanna</h4>
      <h5> Connor Maynard</h5>
    </div>
  </div>
</div>
<div class="col-xs-4">

  <div class="panel panel-default">
    <div class="panel-body">

        <iframe width="200" height="150" src="https://www.youtube.com/embed/nsSCl8UXlrY" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="panel-footer">
         <h4> Work Work Work - Rihanna</h4>
         <h5> Connor Maynard</h5>
    </div>
  </div>
</div>
  <div class="col-xs-4">

  <div class="panel panel-default">
    <div class="panel-body">

      <iframe width="200" height="150" src="https://www.youtube.com/embed/nsSCl8UXlrY" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="panel-footer">
      <h4> Work Work Work - Rihanna</h4>
      <h5> Connor Maynard</h5>
    </div>
  </div>
</div>
</div>
